button{
    color: black;
    background-color: wheat;
    height: 50px;
    width: 50px;
    font-size: medium;
    
}

.page{
    color: black;
    background-color: wheat;
    height: 50px;
    width: 100px;
    display: flex;
}
